@font-face {
  font-family: 'Stolzl';
  src: url('./fonts/Stolzl-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Stolzl Book';
  src: url('./fonts/Stolzl-Book.ttf') format('truetype');
}
