block profit-growth
.profit-growth
  .profit-growth__title
    .profit-growth__ellipse
      .profit-growth__icon
    p Рост прибыли<br>компании
  .profit-growth__diagram 
    .profit-growth__levels
      p 400
      p 300
      p 200
      p 100
    table.profit-growth__table
      tr
        td 
        td 
        td 
        td 
        td 
        td 
        td 
      tr
        td 
        td 
        td 
        td 
        td 
        td 
        td 
      tr
        td 
        td 
        td 
        td 
        td 
        td 
        td 
      tr
        td 
        td 
        td 
        td 
        td 
        td 
        td 
    .profit-growth__curve          
  
  
