//.profit-growth__diagram 
  .profit-growth__levels
    p 400
    p 300
    p 200
    p 100
  .profit-growth__table
    tr
      td 1
      td 
      td 
      td 
      td 
      td 
      td 
    tr
      td 1
      td
      td
      td
      td
      td
      td
    tr
      td 1
      td
      td
      td
      td
      td
      td
    tr
      td 1
      td
      td
      td
      td
      td
      td

    