.clients-boost__icon {
  content: url('./clients-boost/clients-boost__icon.svg');
  color: #121B30;
  background-repeat: no-repeat;
  width: 23,33px;
  height: 18,65px;
  background-position: center;
}