.page-description__input-number {
  box-sizing: border-box;
  font-family: 'Stolzl', sans-serif;
  font-size: 18px;
  color: #BCBCBC;
  width: 284px;
  height: 56px;
  background-color: #FFFFFF;
  border-radius: 12px;

  display: flex;
  align-items: center;
  padding-left: 19px;
}