.page-description
  .page-description__title <span>Разработка сайтов</span><br>под ключ
  .page-description__clarification Разработаем проект для решения<br>задачи любой сложности
  .page-description__input-section
    .page-description__input-number +7 (999) 444 22-33
    .page-description__button Реализовать мою идею

