<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Document
body
  main
    .content
      .top
        include ./menu/menu
        include ./contacts/contacts
      .center
        include ./page-description/page-description
        include ./point-of-interest/point-of-interest
      include ./logo/logo
      include ./clients-boost/clients-boost
      include ./sales-boost/sales-boost
      include ./profit-growth/profit-growth
      include ./page-assets/page-assets
  
  
  
  
  